.modal-container{
    padding-top: 30px;
    padding-bottom: 50px;
    top:50px;
    left:50px;
    position:absolute;
    width: 50%;
    height: 70%;
    background-color:white;
    display: flex;
    font-family: sans-serif;
    box-shadow: 0 0 32px rgba(0, 0, 0, .5);

}
.closeModal{
    background: linear-gradient(50deg, red 50%, red 90%);
    color:white;
    height: 2%;
    width: 2%;
    box-shadow: 0 3px 5px 2px rgba(205, 155, 155, .3);
}

.close{
    color: white;
}

.topright {
    position: absolute;
    right: 0;
    top: 0
  }


  