.title{
    padding-right: 70%;
    font-family: monospace;
}
.planets{
    padding-left: 2em;
    font-family: monospace;
}

.quiz{
    padding-left: 2em;
    font-family: monospace;
}
.compare{
    padding-left: 2em;
    font-family: monospace;
}