.planetTitle {
  color: #fec604;
  font-size: 40px;
  font-weight: 300;
  
}

.counter {
  font-size: 25px;
}

.warning {
  color: red;
  font-family: monospace;
  font-style: oblique;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #999;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}

.answerOptions{
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

.confirm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 185px;
  justify-content: center;
}
.choices{
    margin-left: 12%;
}
